n8n/workflows/follow-up-webhook-to-claude-to-sheets.json
{
  "name": "ai-seminar-pdca-hub: Follow-up Flow (MVP)",
  "nodes": [
    {
      "id": "webhook-seminar-ended",
      "name": "Webhook - Seminar Ended",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "docs/n8n-workflows.md > Follow-up Flow > Trigger。POST body例: { \"seminar_id\": \"sem_2026_001\" }",
      "parameters": {
        "httpMethod": "POST",
        "path": "follow-up/seminar-ended",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "build-claude-input",
      "name": "Build Claude Input (TODO: read parent/follow_up rows from Sheets)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 300],
      "notes": "docs/n8n-workflows.md > Follow-up Flow > Build Payload に対応。TODO: Google Sheetsノード等でParent Sheet / Follow-up Template の該当行（セグメント別、あれば）を取得し、parent/follow_upを実データに差し替える。system_promptフィールドには prompts/follow-up.md の全文を読み込ませる想定（現時点ではファイルパスのプレースホルダ）。",
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "seminar_id", "stringValue": "={{ $json.body.seminar_id }}" },
            { "name": "parent", "stringValue": "={{ JSON.stringify({}) }}" },
            { "name": "follow_up", "stringValue": "={{ JSON.stringify([]) }}" },
            { "name": "system_prompt_source", "stringValue": "prompts/follow-up.md" }
          ]
        }
      }
    },
    {
      "id": "call-claude-api",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "notes": "docs/n8n-workflows.md > Claude API Call Contract を参照。実URL・実APIキーはここに書かない。x-api-keyはn8nのCredentials（例: Header Auth credential）で注入し、urlはn8n環境変数/Workflow変数で注入する想定のプレースホルダ。",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "TODO_SET_IN_N8N" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"TODO_SET_MODEL_NAME\", max_tokens: 4096, system: \"TODO: prompts/follow-up.md の全文をここに読み込ませる\", messages: [{ role: \"user\", content: JSON.stringify({ parent: $json.parent, follow_up: $json.follow_up }) }] }) }}",
        "options": {}
      }
    },
    {
      "id": "parse-claude-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "notes": "prompts/follow-up.md の Output JSON schema（follow_up_scenarios配列, improvement_recommendationオブジェクト）としてパースする。scripts/validate-agent-output.js の validateAgentOutput(\"follow-up\", output) 相当の検証をTODOとして残している。",
      "parameters": {
        "language": "javaScript",
        "jsCode": "// TODO: 実際には $input.first().json からClaudeレスポンス本文（例: content[0].text）を取り出し JSON.parse する\n// const responseText = $input.first().json.content[0].text;\n// const output = JSON.parse(responseText);\n// TODO: scripts/validate-agent-output.js の validateAgentOutput(\"follow-up\", output) 相当の検証をここで行う\nconst output = { follow_up_scenarios: [], improvement_recommendation: {} };\nreturn [{ json: output }];"
      }
    },
    {
      "id": "split-follow-up-scenarios",
      "name": "Split follow_up_scenarios (TODO: Split Out / Item Lists node)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 300],
      "notes": "TODO: n8n標準の Split Out ノード等で output.follow_up_scenarios 配列を1要素=1アイテムに分割してから次のSaveノードに渡す。docs/n8n-workflows.md > Follow-up Flow > Save to Sheets の「各要素についてappendRowする」に対応。"
    },
    {
      "id": "save-follow-up",
      "name": "Save follow_up scenario to Sheet (TODO: configure Google Sheets credential)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1440, 300],
      "notes": "TODO: Google Sheetsノード、またはHTTP経由で scripts/sync-sheets.js の appendRow({ sheetKey: \"follow_up\", values: payloadToRow(\"follow_up\", entry) }) 相当を、分割された各シナリオについて呼ぶノードに差し替える。credential未設定のためNoOpのまま。"
    }
  ],
  "connections": {
    "Webhook - Seminar Ended": {
      "main": [
        [
          {
            "node": "Build Claude Input (TODO: read parent/follow_up rows from Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Input (TODO: read parent/follow_up rows from Sheets)": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Split follow_up_scenarios (TODO: Split Out / Item Lists node)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split follow_up_scenarios (TODO: Split Out / Item Lists node)": {
      "main": [
        [
          {
            "node": "Save follow_up scenario to Sheet (TODO: configure Google Sheets credential)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Follow-up Flow（docs/n8n-workflows.md参照）のMVP骨組み。Webhook起点でClaude APIをHTTP Requestノードから直接呼び、follow_up_scenarios配列を分割してfollow_upシートへ保存する想定のプレースホルダ。実credential・実URL・実APIキーは一切含まない（各ノードのnotesにTODOを明記）。"
  }
}
