docs/weekly-pdca-n8n-workflow.json
{
  "name": "Weekly X Ads PDCA Automation",
  "nodes": [
    {
      "id": "cron_weekly",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "notes": "毎週決まった曜日・時刻にワークフロー全体を起動する",
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "weekday": 1,
              "hour": 9,
              "minute": 0
            }
          ]
        },
        "timezone": "Asia/Tokyo"
      }
    },
    {
      "id": "load_runtime_config",
      "name": "Load Runtime Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        540,
        400
      ],
      "notes": "account_id / campaign_id / GA4 property_id / spreadsheet_id / Slackチャンネルなど、ワークフロー全体で使う固定設定値をまとめて注入する",
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "x_account_id",
              "stringValue": "<X_ADS_ACCOUNT_ID>"
            },
            {
              "name": "x_campaign_id",
              "stringValue": "<X_ADS_CAMPAIGN_ID>"
            },
            {
              "name": "ga4_property_id",
              "stringValue": "<GA4_PROPERTY_ID>"
            },
            {
              "name": "sheets_spreadsheet_id",
              "stringValue": "<GOOGLE_SHEETS_SPREADSHEET_ID>"
            },
            {
              "name": "sheets_log_sheet_name",
              "stringValue": "weekly_pdca_log"
            },
            {
              "name": "sheets_state_sheet_name",
              "stringValue": "pdca_state"
            },
            {
              "name": "slack_channel",
              "stringValue": "#weekly-pdca"
            }
          ]
        }
      }
    },
    {
      "id": "x_ads_metrics",
      "name": "Fetch X Ads Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        200
      ],
      "notes": "対象キャンペーンの直近7日間のimpressions/url_clicksを取得する",
      "parameters": {
        "method": "GET",
        "url": "={{ `https://ads-api.x.com/12/stats/accounts/${$node['Load Runtime Config'].json.x_account_id}` }}",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "entity",
              "value": "CAMPAIGN"
            },
            {
              "name": "entity_ids",
              "value": "={{ $node['Load Runtime Config'].json.x_campaign_id }}"
            },
            {
              "name": "metric_groups",
              "value": "ENGAGEMENT"
            },
            {
              "name": "placement",
              "value": "ALL_ON_TWITTER"
            },
            {
              "name": "start_time",
              "value": "={{ $today.minus(7, 'days').toISO() }}"
            },
            {
              "name": "end_time",
              "value": "={{ $today.toISO() }}"
            },
            {
              "name": "granularity",
              "value": "TOTAL"
            }
          ]
        },
        "authentication": "oAuth1Api"
      },
      "credentials": {
        "oAuth1Api": {
          "id": "",
          "name": "X Ads API Credential"
        }
      }
    },
    {
      "id": "ga4_signups",
      "name": "Fetch GA4 Signups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        400
      ],
      "notes": "GA4のConversion Event(seminar_signup)から対象週の申込み数を取得する",
      "parameters": {
        "method": "POST",
        "url": "={{ `https://analyticsdata.googleapis.com/v1beta/properties/${$node['Load Runtime Config'].json.ga4_property_id}:runReport` }}",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"dateRanges\":[{\"startDate\":\"={{ $today.minus(7, 'days').toFormat('yyyy-MM-dd') }}\",\"endDate\":\"={{ $today.toFormat('yyyy-MM-dd') }}\"}],\"dimensions\":[{\"name\":\"eventName\"}],\"metrics\":[{\"name\":\"eventCount\"}],\"dimensionFilter\":{\"filter\":{\"fieldName\":\"eventName\",\"stringFilter\":{\"value\":\"seminar_signup\"}}}}) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "credentials": {
        "googleApi": {
          "id": "",
          "name": "Google Service Account Credential (GA4 Data API scope)"
        }
      }
    },
    {
      "id": "calc_ctr",
      "name": "Calculate CTR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ],
      "notes": "impressions/url_clicksからCTRを算出する。impressions=0の場合は0とする",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const impressions = Number($node['Fetch X Ads Metrics'].json.impressions) || 0;\nconst urlClicks = Number($node['Fetch X Ads Metrics'].json.url_clicks) || 0;\nconst ctr = impressions > 0 ? urlClicks / impressions : 0;\nreturn [{ json: { ctr, impressions, url_clicks: urlClicks } }];"
      }
    },
    {
      "id": "load_prev_metrics",
      "name": "Load Previous Week Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        840,
        600
      ],
      "notes": "pdca_stateシートから直近保存済みのprev_ctr/prev_signupsを読み出す。初回実行時は値が存在せずnull扱いとなる",
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "={{ $node['Load Runtime Config'].json.sheets_spreadsheet_id }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Load Runtime Config'].json.sheets_state_sheet_name }}",
          "cachedResultName": "={{ $node['Load Runtime Config'].json.sheets_state_sheet_name }}"
        },
        "options": {},
        "range": "A2:B2"
      },
      "credentials": {
        "googleApi": {
          "id": "",
          "name": "Google Service Account Credential (Sheets API scope)"
        }
      }
    },
    {
      "id": "merge_weekly_metrics",
      "name": "Merge Weekly Metrics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1440,
        400
      ],
      "notes": "Calculate CTR / Fetch GA4 Signups / Load Previous Week Metricsの3分岐を1本化し、Build PDCA Payloadを1回だけ実行させる。Build PDCA Payload側は引き続き$node[]でそれぞれの出力を参照する。",
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "numberInputs": 3
      }
    },
    {
      "id": "build_pdca_payload",
      "name": "Build PDCA Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        400
      ],
      "notes": "weekly-post-pdca.jsに渡す入力JSONを組み立てる。docs/weekly-post-pdca-ops.mdの入力仕様に準拠する",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const pad = (n) => String(n).padStart(2, '0');\nconst now = new Date();\nconst week = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())}週`;\n\nconst ctr = $node['Calculate CTR'].json.ctr;\nconst signups = Number($node['Fetch GA4 Signups'].json.signups) || 0;\nconst prevRow = $node['Load Previous Week Metrics'].json || {};\n\nconst prevCtrRaw = prevRow.prev_ctr;\nconst prevSignupsRaw = prevRow.prev_signups;\n\nconst prev_ctr = (prevCtrRaw === undefined || prevCtrRaw === '' || prevCtrRaw === null) ? null : Number(prevCtrRaw);\nconst prev_signups = (prevSignupsRaw === undefined || prevSignupsRaw === '' || prevSignupsRaw === null) ? null : Number(prevSignupsRaw);\n\nconst payload = { week, ctr, signups, prev_ctr, prev_signups };\n\nreturn [{ json: { ...payload, payloadJsonString: JSON.stringify(payload) } }];"
      }
    },
    {
      "id": "run_weekly_post_pdca",
      "name": "Run weekly-post-pdca.js",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2040,
        400
      ],
      "notes": "scripts/weekly-post-pdca.jsをCLI実行し、判定結果と投稿A/B案・LP改善案のJSON文字列を取得する",
      "parameters": {
        "command": "=node scripts/weekly-post-pdca.js '{{ $node[\"Build PDCA Payload\"].json.payloadJsonString }}'"
      }
    },
    {
      "id": "parse_pdca_stdout",
      "name": "Parse PDCA Stdout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        400
      ],
      "notes": "run_weekly_post_pdcaの標準出力文字列をJSON.parseし、後続ノードから扱いやすい形に整える",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const stdout = $json.stdout || $json.data || '';\nif (!stdout) {\n  throw new Error('PDCA script returned empty stdout');\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(stdout.trim());\n} catch (e) {\n  throw new Error('Failed to parse PDCA stdout as JSON: ' + e.message);\n}\nreturn [{ json: parsed }];"
      }
    },
    {
      "id": "if_pdca_success",
      "name": "If PDCA Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        400
      ],
      "notes": "PDCA実行が成功した場合のみログ保存・state更新・Slack成功通知を行い、失敗時はエラー通知のみに分岐させる",
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$node['Parse PDCA Stdout'].json.status }}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "log_to_sheets",
      "name": "Append Weekly Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2940,
        150
      ],
      "notes": "今週の実績と判定結果をweekly_pdca_logシートに1行追加する",
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "={{ $node['Load Runtime Config'].json.sheets_spreadsheet_id }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Load Runtime Config'].json.sheets_log_sheet_name }}",
          "cachedResultName": "={{ $node['Load Runtime Config'].json.sheets_log_sheet_name }}"
        },
        "options": {},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week": "={{ $node['Build PDCA Payload'].json.week }}",
            "ctr": "={{ $node['Build PDCA Payload'].json.ctr }}",
            "signups": "={{ $node['Build PDCA Payload'].json.signups }}",
            "prev_ctr": "={{ $node['Build PDCA Payload'].json.prev_ctr }}",
            "prev_signups": "={{ $node['Build PDCA Payload'].json.prev_signups }}",
            "status": "={{ $node['Parse PDCA Stdout'].json.status }}",
            "reason": "={{ $node['Parse PDCA Stdout'].json.reason }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "notes_matchingColumns": "update操作を使う場合、resource mapperのmatchingColumnsに一意キー列（例: 固定のrow_key列）をimport後にUIから設定すること。現状は常に単一state行を対象とする前提のプレースホルダ。"
      },
      "credentials": {
        "googleApi": {
          "id": "",
          "name": "Google Service Account Credential (Sheets API scope)"
        }
      }
    },
    {
      "id": "update_prev_metrics",
      "name": "Update State for Next Week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2940,
        350
      ],
      "notes": "今週のctr/signupsを次回実行時のprev_ctr/prev_signupsとしてpdca_stateシートに上書き保存する",
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "={{ $node['Load Runtime Config'].json.sheets_spreadsheet_id }}"
        },
        "sheetName": {
          "mode": "list",
          "value": "={{ $node['Load Runtime Config'].json.sheets_state_sheet_name }}",
          "cachedResultName": "={{ $node['Load Runtime Config'].json.sheets_state_sheet_name }}"
        },
        "options": {},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prev_ctr": "={{ $node['Build PDCA Payload'].json.ctr }}",
            "prev_signups": "={{ $node['Build PDCA Payload'].json.signups }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "notes_matchingColumns": "update操作を使う場合、resource mapperのmatchingColumnsに一意キー列（例: 固定のrow_key列）をimport後にUIから設定すること。現状は常に単一state行を対象とする前提のプレースホルダ。"
      },
      "credentials": {
        "googleApi": {
          "id": "",
          "name": "Google Service Account Credential (Sheets API scope)"
        }
      }
    },
    {
      "id": "notify_slack_success",
      "name": "Notify Slack (Success)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2940,
        550
      ],
      "notes": "週次PDCAの判定結果と次週の投稿A/B案・LP改善案をSlackに通知する（成功時）",
      "parameters": {
        "channel": "={{ $node['Load Runtime Config'].json.slack_channel }}",
        "text": "=週次PDCA: {{ $node['Build PDCA Payload'].json.week }}\nstatus: {{ $node['Parse PDCA Stdout'].json.status }}\nreason: {{ $node['Parse PDCA Stdout'].json.reason }}\n\nnext_post_A:\n{{ $node['Parse PDCA Stdout'].json.next_post_A }}\n\nnext_post_B:\n{{ $node['Parse PDCA Stdout'].json.next_post_B }}\n\nlp_suggestions:\n{{ $node['Parse PDCA Stdout'].json.lp_suggestions && $node['Parse PDCA Stdout'].json.lp_suggestions.length > 0 ? $node['Parse PDCA Stdout'].json.lp_suggestions.join(' / ') : 'なし' }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack API Credential Name"
        }
      }
    },
    {
      "id": "notify_slack_error",
      "name": "Notify Slack (Error)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2940,
        800
      ],
      "notes": "週次PDCA自動実行が失敗した場合にエラー内容をSlackに通知する",
      "parameters": {
        "channel": "={{ $node['Load Runtime Config'].json.slack_channel }}",
        "text": "[エラー] 週次PDCA自動実行に失敗しました。\nノード: run_weekly_post_pdca / parse_pdca_stdout\n詳細はn8nの実行ログを確認してください。",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack API Credential Name"
        }
      }
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Load Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Runtime Config": {
      "main": [
        [
          {
            "node": "Fetch X Ads Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch GA4 Signups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Previous Week Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch X Ads Metrics": {
      "main": [
        [
          {
            "node": "Calculate CTR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDCA Payload": {
      "main": [
        [
          {
            "node": "Run weekly-post-pdca.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run weekly-post-pdca.js": {
      "main": [
        [
          {
            "node": "Parse PDCA Stdout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PDCA Stdout": {
      "main": [
        [
          {
            "node": "If PDCA Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If PDCA Success": {
      "main": [
        [
          {
            "node": "Append Weekly Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update State for Next Week",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate CTR": {
      "main": [
        [
          {
            "node": "Merge Weekly Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GA4 Signups": {
      "main": [
        [
          {
            "node": "Merge Weekly Metrics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Load Previous Week Metrics": {
      "main": [
        [
          {
            "node": "Merge Weekly Metrics",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Weekly Metrics": {
      "main": [
        [
          {
            "node": "Build PDCA Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "onboardingSettings": {},
  "versionId": "3c22fb3f-7fdd-467a-878f-b7ed63d6805a",
  "id": "f04a325e-d469-40ad-9330-63bf5b8b657f",
  "meta": {
    "description": "Fully automated weekly PDCA for seminar acquisition via X Ads + LP, human-touch-free from metrics collection through Slack reporting",
    "sourceDesignDoc": "docs/weekly-pdca-n8n-workflow-design.json",
    "instanceId": "1e6f69b6-9e58-4ca8-a2a6-cecc6ee34625"
  }
}
